venv/
__pycache__/
*.pyc
data/stems/*
data/midi/*
data/output/*
!data/*/.gitkeep

# dir
/output*
/midi*
/stems*

# ml
data/ml/raw/maestro/*
data/ml/raw/maestro/*
data/ml/raw/pdmx/*
data/ml/raw/violin/*


data/output/*